html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    title

  body
    div.app-container.t-center
      header
        img(src="/logo.png")
        h1 Express-Typescript is On!
        p Do something what you like.

      p
        a(href="/about") Go to about.

      p#content-text
