doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    title Express-Typescript.

  body
    div.app-container.t-center
      img(src="/logo.png")
      h1 About.
      h3 Pure. Clean. Focus on what you do.
      a(href="/") Back to index.
